/**
 * Just some random styles to make things pretty.
 */
@import "compass";

html {
  width: 100%;
  height: 100%;

  body {
    width: 60%;
    margin: 0 auto;
    height: 100%;
    color: #4c008c;
    font: normal normal bold 17px/1.2em Arial, Helvetica, sans-serif;
    background: #ffffff;

    .table {
      display: table;
      width: 100%;
      height: 100%;

      .table-cell {
        display: table-cell;
        vertical-align: middle;

        .content-wrapper {
          //@include border-radius(2%);
          @include box-shadow(inset 0 0 18em indigo, inset 0 0 2em indigo, inset 0 0 0.5em black, 0 0 0.2em black);
          margin: 7%;
          padding: 8%;
          border: 0.5em solid #2f005f;

          #{headings()} {
            @include text-shadow(-1px -1px 0 #000, 1px 1px 0 #dcd0de);
          }

          #bottom-area {

            li {
              margin: 1em;
              padding: 0.5em;
            }
          }
        }
      }
    }
  }
}
