/** Just some random styles to make things pretty. */
/* line 6, ../scss/styles.scss */
html { width: 100%; height: 100%; }
/* line 10, ../scss/styles.scss */
html body { width: 60%; margin: 0 auto; height: 100%; color: #4c008c; font: normal normal bold 17px/1.2em Arial, Helvetica, sans-serif; background: #ffffff; }
/* line 18, ../scss/styles.scss */
html body .table { display: table; width: 100%; height: 100%; }
/* line 23, ../scss/styles.scss */
html body .table .table-cell { display: table-cell; vertical-align: middle; }
/* line 27, ../scss/styles.scss */
html body .table .table-cell .content-wrapper { -webkit-box-shadow: inset 0 0 18em indigo, inset 0 0 2em indigo, inset 0 0 0.5em black, 0 0 0.2em black; -moz-box-shadow: inset 0 0 18em indigo, inset 0 0 2em indigo, inset 0 0 0.5em black, 0 0 0.2em black; box-shadow: inset 0 0 18em indigo, inset 0 0 2em indigo, inset 0 0 0.5em black, 0 0 0.2em black; margin: 7%; padding: 8%; border: 0.5em solid #2f005f; }
/* line 34, ../scss/styles.scss */
html body .table .table-cell .content-wrapper h1, html body .table .table-cell .content-wrapper h2, html body .table .table-cell .content-wrapper h3, html body .table .table-cell .content-wrapper h4, html body .table .table-cell .content-wrapper h5, html body .table .table-cell .content-wrapper h6 { text-shadow: -1px -1px 0 black, 1px 1px 0 #dcd0de; }
/* line 40, ../scss/styles.scss */
html body .table .table-cell .content-wrapper #bottom-area li { margin: 1em; padding: 0.5em; }
